# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Xcode / Swift
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata
*.ipa
*.dSYM*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/
.env/
ENV/

